@font-face {
    font-family: 'MyriadProRegular';
    src: url('../fonts/MyriadProRegular.eot') format('embedded-opentype'),
         url('../fonts/MyriadProRegular.woff2') format('woff2'),
         url('../fonts/MyriadProRegular.woff') format('woff'),
         url('../fonts/MyriadProRegular.ttf') format('truetype'),
         url('../fonts/MyriadProRegular.svg#MyriadProRegular') format('svg');
}
@font-face {
    font-family: 'bpgninomtavruliboldwebfont';
    src: url('../fonts/bpgninomtavruliboldwebfont.eot') format('embedded-opentype'),
         url('../fonts/bpgninomtavruliboldwebfont.woff2') format('woff2'),
         url('../fonts/bpgninomtavruliboldwebfont.woff') format('woff'),
         url('../fonts/bpgninomtavruliboldwebfont.ttf') format('truetype'),
         url('../fonts/bpgninomtavruliboldwebfont.svg#bpgninomtavruliboldwebfont') format('svg');
}
